@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-zinc-300);
    border-radius: 9999px;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-zinc-700);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-zinc-400);
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-zinc-600);
  }
}